/* Base Application Styles */
@import '../myFrameworke/styles/comment/function';
body {
  color: #FFF;
  background: #EFEFEF;
  margin: 0;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
  background: transparent;
  outline: none;
  border: 1px solid #999;
  padding: 2px;
  @include box(border-box);
}

img{
  vertical-align: top;
}

.clear-box:after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

