@import '../myFrameworke/styles/comment/function';
@import '../myFrameworke/styles/search';
@import '../myFrameworke/styles/select';
.main{
  position: absolute;
  top: 0;
  right: 0;
  background: #FFF;
  bottom: 0;
  overflow-y: auto;
  .main-bar{
    float: left;
    width: 44%;
    min-height: 300px;
    padding: 30px;
    margin: 20px;
    border: 1px solid #999;
    border-radius: 8px;
    overflow-x: auto;
    @include box(border-box);
    h3{
      color: #333;
      font-size: 20px;
      border-bottom: 1px dotted #666666;
    }
  }
}
