@import 'comment/function';
.picker-rc{
  height: 100%;
  padding: 0 4px;
  @include box(border-box);
  input.date-contant{
    width: 100%;
    height: 100%;
    float: left;
    border: 0;
    color: #333333;
    overflow: hidden;
  }
}

.picker-tab{
  min-width: 268px;
  width: 100%;
  @include box(border-box);
  .picker-date{
    padding: 8px;
  }
  td{
    text-align: center;
    a{
      width: 24px;
      height: 24px;
      line-height: 24px;
      display: block;
      margin: 2px 4px;
      border-radius: 2px;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover{
        background-color: rgba(24,144,255,.3);
      }
    }
  }
  .today-opts{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    border-top: 1px solid #999999;
    padding: 4px 0;
    cursor: pointer;
    &:hover{
      color: #EAC12E;
    }
  }
}

.y-m-skip{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #999999;
  position: relative;
  text-align: center;
  .ye-prev, .mo-prev, .ye-next, .mo-next{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    position: absolute;
    top: 0;
    transform-origin: top;
    transform: scaleY(2);
    cursor: pointer;
    color: #AAAAAA;
    &:hover{
      color: rgb(24,144,255);
    }
    //background: url(../images/prev.png) no-repeat 0 0;
    //background-size: contain;
  }
  .ye-prev{
    left: 20px;
  }
  .mo-prev{
    left: 48px;
  }
  .ye-next{
    right: 20px;
  }
  .mo-next{
    right: 48px;
  }
  span{
    line-height: 44px;
    font-weight: 600;
  }
}
