@import 'comment/function';
.select-bar{
  border: 1px solid #999999;
  color: #666666;
  position: relative;
  @include box(border-box);
  @include radus(4px);
  .select-rc{
    width: 100%;
    height: 100%;
    padding: 0 4px;
    @include box(border-box);
    .select-contant{
      width: 100%;
      height: 100%;
      float: left;
      border: 0;
      color: #333333;
      overflow: hidden;
    }
    input{
      position:relative;
    }
    input:focus{
      z-index: 100000;
    }
  }

  .select-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4px;
    padding: 2px;
    @include box(border-box);
    &.spin>img{
      transform: rotate(180deg);
      -webkit-transition: transform .2s;
      -moz-transition: transform .2s;
      -ms-transition: transform .2s;
      -o-transition: transform .2s;
      transition: transform .2s;
    }
    img{
      width: 100%;
    }
  }
  .select-options{
    position: absolute;
    min-width: 100%;
    border: 1px solid #999999;
    top: -1px;
    left: -1px;
    display: none;
    //max-height: 200px;
    //overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 3px #999999;
    z-index: 99999;
    @include radus(4px);
  }
}
.option{
  padding: 0 8px;
  cursor: pointer;
  &:hover{
    background-color: #999999;
  }
}
